$vividYellow: rgb(218, 170, 14);
$brightGreen: rgb(127, 236, 55);
$white: rgb(255, 255, 255);
$grayishBlue: rgb(212, 213, 216);
$softGreen: rgb(170, 240, 113);
$moderateBlue: rgb(58, 107, 212);
$mostlyBlack : rgb(49, 49, 48);

$fontStyle1: Arial, Helvetica, Sans-Serif;
$fontStyle2: 'Sacramento', cursive;