@import 'colors';

/* Nest Nav */
nav {
    ul {
      margin: 0;
      padding: 0 5rem;
      list-style: none;
    }
  
    li {
      display: inline-block;
      color: $white;
    }
  
    a {
      display: block;
      padding: 1rem 0 2rem;
      text-decoration: none;
      color: $white;
    }
}